<%-include('header.ejs')%>

<div class="container text-center my-5">
    <h4>Enter your Email</h4>
    <form action="/send" method="POST">
    <input type="text" name="email" class="form-control my-3" placeholder="enter your email">
    <button class="btn btn-default-outline w-100">send</button>
    </form>
    </div>
<%-include('footer.ejs')%>
